
body{
background-image: url(oshte.png);
background-size: cover;
background-position: center;
}

.main{
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(img1.jfif);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin:auto
}
.icon{
    width: 200px;
    float:left;
    height: 75px;
}
.logo{
    color:#ffffff;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float:left;
    padding-top: 10px;
    
}
.menu{
    
    width: 400px;
    float: left;
    height: 70px;

}
ul{
    float: left; 
     display:flex;
     justify-content: center;
     align-items: center;
     
 }
 
 ul li{
     list-style: none;
     margin-left:62px ;
     margin-top:27px ;
     font-size: 18px;
     
 }
 ul li a{
     
     text-decoration: none;
     color: antiquewhite;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-weight: bold;
     transition: 0.3s ease-in-out;
 }
 ul li a:hover{
    color: #00fbd5;
}
 .h1{
    font-family: 'Arial';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 7%;
    letter-spacing: 2px;
 }
 .par{
   
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1.5px;
    line-height: 30px;
    font-size: 29px;
 }
 .content{
   margin-top: 200px;
        width: 1200px;
        height: auto;
        margin:auto;
        margin-top: 20px;
        color:#fff;
        position: relative;
}
#aboutlink{
    color:white
}
.registerForm{
    width: 250px;
    height: 280px;
    background-color:transparent;
    position: absolute;
    top:50%;
    left: 1050px;
    border-radius: 20px;
    padding: 10px;
    margin-right: 20px;
}
.email{
    font-size: 20px;
    border-radius: 20px;
}
.password{
    font-size: 20px;
    border-radius: 20px;
}
.log{
   
    align-items: center;
    text-align: center;
    margin-top: 20px;
    width: 65px;
    height: 30px;
    color: white;
    background-color:  transparent;
    border-radius: 10px;
    font-size: 15px;
    border: none;
}
.log:hover{
 background: #00fbd5;
}
.h2Log{
    color: #fff;
     font-family: 'Times New Roman', Times, serif;
}
.para{
     color: #fff;
     font-family: 'Times New Roman', Times, serif;
}
.signlink{
     color: #fff;
     font-family: 'Times New Roman', Times, serif;
}
.signlink:hover{
    color: #00fbd5;
}

